<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_attack_00_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,82}</string>
                <key>spriteSourceSize</key>
                <string>{48,82}</string>
                <key>textureRect</key>
                <string>{{356,252},{48,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_attack_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{280,86},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_attack_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{280,166},{72,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_hurt_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,84}</string>
                <key>spriteSourceSize</key>
                <string>{56,84}</string>
                <key>textureRect</key>
                <string>{{272,238},{56,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,84}</string>
                <key>spriteSourceSize</key>
                <string>{56,84}</string>
                <key>textureRect</key>
                <string>{{156,310},{56,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{94,400},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{438,376},{50,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,80}</string>
                <key>textureRect</key>
                <string>{{438,322},{54,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,78}</string>
                <key>spriteSourceSize</key>
                <string>{54,78}</string>
                <key>textureRect</key>
                <string>{{356,386},{54,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,80}</string>
                <key>textureRect</key>
                <string>{{150,400},{54,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{52,80}</string>
                <key>textureRect</key>
                <string>{{204,394},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{256,392},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_knockout_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,78}</string>
                <key>spriteSourceSize</key>
                <string>{58,78}</string>
                <key>textureRect</key>
                <string>{{260,294},{58,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_knockout_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{94,400},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_knockout_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{74,56}</string>
                <key>textureRect</key>
                <string>{{306,456},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_knockout_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,24}</string>
                <key>spriteSourceSize</key>
                <string>{94,24}</string>
                <key>textureRect</key>
                <string>{{70,408},{94,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_knockout_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{162,288},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_walk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{52,80}</string>
                <key>textureRect</key>
                <string>{{380,440},{52,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{42,82}</string>
                <key>textureRect</key>
                <string>{{356,344},{42,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,82}</string>
                <key>spriteSourceSize</key>
                <string>{48,82}</string>
                <key>textureRect</key>
                <string>{{212,310},{48,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,80}</string>
                <key>spriteSourceSize</key>
                <string>{48,80}</string>
                <key>textureRect</key>
                <string>{{460,426},{48,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,80}</string>
                <key>spriteSourceSize</key>
                <string>{42,80}</string>
                <key>textureRect</key>
                <string>{{508,426},{42,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{318,294},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,82}</string>
                <key>spriteSourceSize</key>
                <string>{44,82}</string>
                <key>textureRect</key>
                <string>{{356,300},{44,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{306,376},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,108}</string>
                <key>spriteSourceSize</key>
                <string>{62,108}</string>
                <key>textureRect</key>
                <string>{{172,164},{62,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,108}</string>
                <key>spriteSourceSize</key>
                <string>{58,108}</string>
                <key>textureRect</key>
                <string>{{438,264},{58,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,110}</string>
                <key>spriteSourceSize</key>
                <string>{62,110}</string>
                <key>textureRect</key>
                <string>{{162,226},{62,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,106}</string>
                <key>spriteSourceSize</key>
                <string>{88,106}</string>
                <key>textureRect</key>
                <string>{{84,86},{88,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{0,198},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_hurt_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{0,408},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{358,62},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,92}</string>
                <key>spriteSourceSize</key>
                <string>{76,92}</string>
                <key>textureRect</key>
                <string>{{362,160},{76,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,108}</string>
                <key>spriteSourceSize</key>
                <string>{62,108}</string>
                <key>textureRect</key>
                <string>{{172,164},{62,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,112}</string>
                <key>spriteSourceSize</key>
                <string>{62,112}</string>
                <key>textureRect</key>
                <string>{{430,80},{62,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,114}</string>
                <key>spriteSourceSize</key>
                <string>{62,114}</string>
                <key>textureRect</key>
                <string>{{346,0},{62,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,110}</string>
                <key>spriteSourceSize</key>
                <string>{62,110}</string>
                <key>textureRect</key>
                <string>{{438,202},{62,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,112}</string>
                <key>spriteSourceSize</key>
                <string>{60,112}</string>
                <key>textureRect</key>
                <string>{{438,142},{60,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_knockout_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{0,408},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_knockout_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,94}</string>
                <key>spriteSourceSize</key>
                <string>{76,94}</string>
                <key>textureRect</key>
                <string>{{80,306},{76,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_knockout_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{90,80}</string>
                <key>textureRect</key>
                <string>{{460,0},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_knockout_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,86}</string>
                <key>spriteSourceSize</key>
                <string>{134,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_knockout_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,32}</string>
                <key>spriteSourceSize</key>
                <string>{82,32}</string>
                <key>textureRect</key>
                <string>{{518,322},{82,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_walk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{84,112}</string>
                <key>textureRect</key>
                <string>{{0,86},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,102}</string>
                <key>spriteSourceSize</key>
                <string>{86,102}</string>
                <key>textureRect</key>
                <string>{{244,0},{86,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,108}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{172,86},{78,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,110}</string>
                <key>spriteSourceSize</key>
                <string>{78,110}</string>
                <key>textureRect</key>
                <string>{{84,192},{78,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,102}</string>
                <key>textureRect</key>
                <string>{{0,306},{80,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,110}</string>
                <key>spriteSourceSize</key>
                <string>{86,110}</string>
                <key>textureRect</key>
                <string>{{134,0},{86,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pd_role.png</string>
            <key>size</key>
            <string>{550,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f74924d9a97354f87b6f5853f3f0d2:73ebd44bff9e40a68c7534ebe64ec0fd:c4c5f08c32ac69eee30e43075c320062$</string>
            <key>textureFileName</key>
            <string>pd_role.png</string>
        </dict>
    </dict>
</plist>
