<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{181,1},{160,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,161},{160,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{158,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{166,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{181,325},{166,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{186,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,661},{186,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-26}</string>
                <key>spriteSize</key>
                <string>{166,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,487},{166,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{181,163},{160,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{166,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{173,493},{166,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{189,661},{188,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,323},{162,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lolitaRole.png</string>
            <key>size</key>
            <string>{378,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eac8394ac631797e8727c575f29a8ea:78325b7b6653b03c82d538f1dcf8c7ef:e4703f06ba6379c2408c4b65d8ccacd3$</string>
            <key>textureFileName</key>
            <string>lolitaRole.png</string>
        </dict>
    </dict>
</plist>
